@charset "utf-8";

$japanese-main-font: "Hiragino Kaku Gothic ProN", sans-serif;
$japanese-sub-font: "メイリオ", sans-serif;
$english-main-font: "Lucida Grande", sans-serif;
$english-sub-font: "Verdana", sans-serif;
$pretendard-font: 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Lucida Grande', Verdana, sans-serif;
$main-color: #0078f0;

$gray-0: #f8f9fa;
$gray-1: #f1f3f5;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #868e96;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;
$red-1: #fef6f6;
$red-2: #f14646;
$blue-0: #f2f8fe;
$blue-1: #e0edf9;
$blue-2: #bfddfb;
$blue-3: #99c9f9;
$blue-4: #529af8;
$blue-5: #0078f0;
$blue-6: #0064e6;
$blue-7: #005ff0;
$green-2: #0ca678;
