@charset "utf-8";

/* 공통 클래스 정의 */
.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.flex-container {
  &--row {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &--column {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}

.flex-wrapper {
  &--row {
    display: flex;
  }
  &--column {
    display: flex;
    flex-direction: column;
  }
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed !important;
}

.relative {
  position: relative;
}

.text-overflow--ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.break-all {
  word-break: break-all;
}

.line-through {
  text-decoration-line: line-through;
}

.underline {
  text-decoration-line: underline;
  text-underline-position: under;
}

.text-center {
  text-align: center;
}

.wrap-box {
  &-340 {
    display: flex;
    flex-wrap: wrap;
    width: 34rem;
  }
  &-380 {
    display: flex;
    flex-wrap: wrap;
    width: 38rem;
  }
  &-420 {
    display: flex;
    flex-wrap: wrap;
    width: 42rem;
  }
  &-470 {
    display: flex;
    flex-wrap: wrap;
    width: 47rem;
  }
  &-520 {
    display: flex;
    flex-wrap: wrap;
    width: 52rem;
  }
  &-540 {
    display: flex;
    flex-wrap: wrap;
    width: 54rem;
  }
  &-max {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.flex-1 {
  flex: 1;
}

.border--row {
  width: 100%;
  height: 0.1rem;

  background-color: $gray-2;
}

.border--column {
  width: 0.1rem;
  height: 100%;

  background-color: $gray-2;
}

.scrollbar {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.blank {
  &--80 {
    width: 100%;
    height: 8rem;
  }
}

.prewrap {
  white-space: pre-wrap;
}
