html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}


input::placeholder {
  opacity: 0.5;
  color:gray;
  font-weight: bolder;
}

input:focus {
  outline: none;
}

// 자동완성 박스 제거
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
}
