@charset "utf-8";

// Japanese main-font
@font-face {
  font-family: 'Hiragino Kaku Gothic ProN';
  src: url("./src/assets/fonts/HiraginoKakuGothicProNW3.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

// Japanese sub-font
@font-face {
  font-family: 'メイリオ';
  src: url("./src/assets/fonts/Meiryo.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

// English main-font
@font-face {
  font-family: "Lucida Grande";
  src: url("./src/assets/fonts/LucidaGrande.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

// English sub-font
@font-face {
  font-family: Verdana;
  src: url("./src/assets/fonts/Verdana.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}