@charset "utf-8";

// reset에 body의 max-width 없애기 전까지 body를 화면 전체로 써야하는 부분에서 정의하고
// 해당 page에 dom 조작으로 직접 body에 클래스 넣어서 사용

body.full {
  max-width: none;
  overflow: auto;
}

body.is-modal-opened {
  overflow: hidden;
}
