@charset "utf-8";

.white {
  color: white;
}

.gray-0 {
  color: $gray-0;
}

.gray-1 {
  color: $gray-1;
}

.gray-2 {
  color: $gray-2;
}

.gray-3 {
  color: $gray-3;
}

.gray-4 {
  color: $gray-4;
}

.gray-5 {
  color: $gray-5;
}

.gray-6 {
  color: $gray-6;
}

.gray-7 {
  color: $gray-7;
}

.gray-8 {
  color: $gray-8;
}

.gray-9 {
  color: $gray-9;
}

.main-color {
  color: $main-color;
}

.red-2 {
  color: $red-2;
}

.blue-4 {
  color: $blue-4;
}

.blue-5 {
  color: $blue-5;
}

.blue-6 {
  color: $blue-6;
}

.blue-7 {
  color: $blue-7;
}

.black {
  color: black;
}

.green-2 {
  color: $green-2;
}
