@charset "utf-8";

.title {
  width: 100%;
  height: 3.6rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.noto-title-3 {
  font-family: $main-font;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 140%;
}

.noto-title-4 {
  font-family: $main-font;
  font-weight: bold;
  font-size: 2rem;
  line-height: 140%;
}

.noto-subhead-1 {
  font-family: $main-font;
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
}

.noto-subhead-2 {
  font-family: $main-font;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.noto-subhead-3 {
  font-family: $main-font;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%;
}

.noto-subhead-4 {
  font-family: $main-font;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 135%;
}

.noto-paragraph-1 {
  font-family: $main-font;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
}

.noto-paragraph-2 {
  font-family: $main-font;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 140%;
}

.noto-paragraph-3 {
  font-family: $main-font;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 135%;
}

.noto-caption-1 {
  font-family: $main-font;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 130%;
}

.noto-caption-2 {
  font-family: $main-font;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 130%;
}

.noto-ui-bold-1 {
  font-family: $main-font;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
}

.noto-ui-bold-2 {
  font-family: $main-font;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2rem;
}

.noto-ui-bold-3 {
  font-family: $main-font;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.noto-ui-medium-1 {
  font-family: $main-font;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
}

.noto-ui-medium-2 {
  font-family: $main-font;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}

.noto-ui-medium-3 {
  font-family: $main-font;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.noto-ui-regular-2 {
  font-family: $main-font;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
}

.noto-ui-regular-3 {
  font-family: $main-font;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.gmarket-subhead-1 {
  font-family: $sub-font--medium;
  font-weight: 400;
  font-size: 2rem;
  line-height: 140%;
}

.gmarket-subhead-2 {
  font-family: $sub-font--medium;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 135%;
}

.gmarket-subhead-3 {
  font-family: $sub-font--medium;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 135%;
}

.gmarket-subhead-4 {
  font-family: $sub-font--medium;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 135%;
}

.gmarket-subhead-5 {
  font-family: $sub-font--medium;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
}

.gmarket-ui-bold-1 {
  font-family: $sub-font--bold;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.gmarket-ui-bold-2 {
  font-family: $sub-font--bold;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.pretend-medium-9 {
  font-family: $pretendard-font;
  font-weight: 400;
  font-size: 0.9rem;
}

.pretend-medium-11 {
  font-family: $pretendard-font;
  font-weight: 400;
  font-size: 1.1rem;
}

.pretend-medium-13 {
  font-family: $pretendard-font;
  font-weight: 400;
  font-size: 1.3rem;
}

.pretend-medium-15 {
  font-family: $pretendard-font;
  font-weight: 400;
  font-size: 1.5rem;
}

.pretend-medium-18 {
  font-family: $pretendard-font;
  font-weight: 400;
  font-size: 1.8rem;
}

.pretend-medium-20 {
  font-family: $pretendard-font;
  font-weight: 400;
  font-size: 2rem;
}

.pretend-medium-23 {
  font-family: $pretendard-font;
  font-weight: 400;
  font-size: 2.3rem;
}

.pretend-semi-9 {
  font-family: $pretendard-font;
  font-weight: 500;
  font-size: 0.9rem;
}

.pretend-semi-11 {
  font-family: $pretendard-font;
  font-weight: 500;
  font-size: 1.1rem;
}

.pretend-semi-13 {
  font-family: $pretendard-font;
  font-weight: 500;
  font-size: 1.3rem;
}

.pretend-semi-15 {
  font-family: $pretendard-font;
  font-weight: 500;
  font-size: 1.5rem;
}

.pretend-semi-16 {
  font-family: $pretendard-font;
  font-weight: 500;
  font-size: 1.6rem;
}

.pretend-semi-18 {
  font-family: $pretendard-font;
  font-weight: 500;
  font-size: 1.8rem;
}

.pretend-semi-20 {
  font-family: $pretendard-font;
  font-weight: 500;
  font-size: 2rem;
}

.pretend-semi-23 {
  font-family: $pretendard-font;
  font-weight: 500;
  font-size: 2.3rem;
}

.pretend-bold-9 {
  font-family: $pretendard-font;
  font-weight: 700;
  font-size: 0.9rem;
}

.pretend-bold-11 {
  font-family: $pretendard-font;
  font-weight: 700;
  font-size: 1.1rem;
}

.pretend-bold-13 {
  font-family: $pretendard-font;
  font-weight: 700;
  font-size: 1.3rem;
}

.pretend-bold-15 {
  font-family: $pretendard-font;
  font-weight: 700;
  font-size: 1.5rem;
}

.pretend-bold-18 {
  font-family: $pretendard-font;
  font-weight: 700;
  font-size: 1.8rem;
}

.pretend-bold-20 {
  font-family: $pretendard-font;
  font-weight: 700;
  font-size: 2rem;
}

.pretend-bold-23 {
  font-family: $pretendard-font;
  font-weight: 700;
  font-size: 2.3rem;
}

.pretend-bold-30 {
  font-family: $pretendard-font;
  font-weight: 700;
  font-size: 3rem;
}

.gmarket-medium-15 {
  font-family: $sub-font--medium;
  font-weight: 400;
  font-size: 1.5rem;
}

.gmarket-bold-15 {
  font-family: $sub-font--bold;
  font-weight: 700;
  font-size: 1.5rem;
}

.gmarket-bold-23 {
  font-family: $sub-font--bold;
  font-weight: 700;
  font-size: 2.3rem;
}

.bold {
  font-weight: bold !important;
}
