.insta-type-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  padding: 4px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  word-break: keep-all;

  &--basic {
    background: #eafbe9;
    color: #62895b;
  }

  &--biz {
    background: $blue-0;
    color: $main-color;
  }
}
