@charset "utf-8";

.width-500 {
  width: 50rem;
}

.height-40 {
  height: 4rem !important;
}

// TODO: AuthChangePassword, SendEmail, Signup 컴포넌트 사용 안 하는 시점에서 삭제
.height-34 {
  height: 3.4rem !important;
}

/* 마진 설정 */
.margin-bottom-2 {
  margin-bottom: 0.2rem;
}

.margin-bottom-4 {
  margin-bottom: 0.4rem;
}

.margin-bottom-6 {
  margin-bottom: 0.6rem;
}

.margin-bottom-8 {
  margin-bottom: 0.8rem;
}

.margin-bottom-8--reverse {
  margin-bottom: -0.8rem;
}

.margin-bottom-10 {
  margin-bottom: 1rem;
}

.margin-bottom-12 {
  margin-bottom: 1.2rem;
}

.margin-bottom-12--reverse {
  margin-bottom: -1.2rem;
}

.margin-bottom-14 {
  margin-bottom: 14px;
}

.margin-bottom-16 {
  margin-bottom: 1.6rem;
}

.margin-bottom-16--reverse {
  margin-bottom: -1.6rem;
}

.margin-bottom-18 {
  margin-bottom: 1.8rem;
}

.margin-bottom-20 {
  margin-bottom: 2rem;
}

.margin-bottom-24 {
  margin-bottom: 2.4rem;
}

.margin-bottom-28 {
  margin-bottom: 2.8rem;
}

.margin-bottom-30 {
  margin-bottom: 3rem;
}

.margin-bottom-32 {
  margin-bottom: 3.2rem;
}

.margin-bottom-32--reverse {
  margin-bottom: -3.2rem;
}

.margin-bottom-36 {
  margin-bottom: 36px;
}

.margin-bottom-40 {
  margin-bottom: 4rem;
}

.margin-bottom-48 {
  margin-bottom: 48px;
}

.margin-bottom-50 {
  margin-bottom: 5rem;
}

.margin-bottom-56 {
  margin-bottom: 5.6rem;
}

.margin-bottom-60 {
  margin-bottom: 6rem;
}

.margin-bottom-64 {
  margin-bottom: 6.4rem;
}

.margin-bottom-80 {
  margin-bottom: 8rem;
}

.margin-bottom-104 {
  margin-bottom: 10.4rem;
}

.margin-right-2 {
  margin-right: 0.2rem;
}

.margin-right-2--reverse {
  margin-right: -0.2rem;
}

.margin-right-4 {
  margin-right: 0.4rem;
}

.margin-right-6 {
  margin-right: 0.6rem;
}

.margin-right-8 {
  margin-right: 0.8rem;
}

.margin-right-8--reverse {
  margin-right: -0.8rem;
}

.margin-right-10 {
  margin-right: 1rem;
}

.margin-right-12 {
  margin-right: 1.2rem;
}

.margin-right-14 {
  margin-right: 1.4rem;
}

.margin-right-16 {
  margin-right: 1.6rem;
}

.margin-right-16--reverse {
  margin-right: -1.6rem;
}

.margin-right-18 {
  margin-right: 1.8rem;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-24 {
  margin-right: 2.4rem;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-right-32 {
  margin-right: 3.2rem;
}

.margin-right-48 {
  margin-right: 4.8rem;
}

.margin-left-4 {
  margin-left: 0.4rem;
}

.margin-left-6 {
  margin-left: 0.6rem;
}

.margin-left-8 {
  margin-left: 0.8rem;
}

.margin-left-10 {
  margin-left: 1rem;
}

.margin-left-12 {
  margin-left: 1.2rem;
}

.margin-left-14 {
  margin-left: 1.4rem;
}

.margin-left-16 {
  margin-left: 1.6rem;
}

.margin-left-16--reverse {
  margin-left: -1.6rem;
}

.margin-left-20 {
  margin-left: 2rem;
}

.margin-left-24 {
  margin-left: 2.4rem;
}

.margin-left-28 {
  margin-left: 2.8rem;
}

.margin-left-30 {
  margin-left: 3rem;
}

.margin-top-4 {
  margin-top: 0.4rem;
}

.margin-top-6 {
  margin-top: 0.6rem;
}

.margin-top-8 {
  margin-top: 0.8rem;
}

.margin-top-10 {
  margin-top: 1rem;
}

.margin-top-10--reverse {
  margin-top: -1rem;
}

.margin-top-12 {
  margin-top: 1.2rem;
}

.margin-top-16 {
  margin-top: 1.6rem;
}

.margin-top-20 {
  margin-top: 2rem;
}

.margin-top-24 {
  margin-top: 2.4rem;
}

.margin-top-24--reverse {
  margin-top: -2.4rem;
}

.margin-top-28 {
  margin-top: 2.8rem;
}

.margin-top-30 {
  margin-top: 3rem;
}

.margin-top-32 {
  margin-top: 3.2rem;
}

.margin-top-36 {
  margin-top: 3.6rem;
}

.margin-top-40 {
  margin-top: 4rem;
}

.margin-top-48 {
  margin-top: 4.8rem;
}

.margin-top-56 {
  margin-top: 56px;
}

.margin-top-120 {
  margin-top: 12rem;
}

.margin-top-160 {
  margin-top: 16rem;
}

$min_size: 1;
$max_size: 2000;
@for $i from $min_size through $max_size {
  .w-#{$i} {
    width: #{$i}px !important;
  }
  .h-#{$i} {
    height: #{$i}px !important;
  }
}
