.subscription-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;

  &--free {
    background-color: #0ca678;
  }

  &--basic {
    background-color: #ffc754;
  }

  &--premium {
    background-color: $gray-9;
  }
}
